@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
  --theme-primary: 276 100% 62%;
  }
  .dark {
    --theme-primary: 276 100% 62%
  }
}
